.overlay {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    background-color: rgba(58, 71, 225, 88);
    height: 4em;
    margin-bottom: 15px;
    border-radius: 3px;
    list-style-type: none;
}

.center-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#home-button:hover, #home-button:focus {
    background-color: red;
}

#home-text {
    text-align: center;
}

#bio-button:hover, #bio-button:focus {
    background-color: red;
}

#bio-text {
    display: none;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.photo-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 10px;
    flex: 1;
}

.bio-photo {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    padding: 1rem 0;
    width: 70%;
    flex-grow: 1;
}

#projects-button:hover, #projects-button:focus {
    background-color: red;
}

#projects-photo-row {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 75%;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 10px;
}

#projects-photo {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    padding: 1rem 0;
    width: 50%;
    flex-grow: 1;
}

#display-themes {
    position: relative;
    display: inline-block;
}

.dropdown-button:hover, .dropdown-button:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: red;
}

button {
    border: none;
    background-color: rgba(58, 71, 225, 88);
    color: white;
    cursor: pointer; 
}

.show {
    display: block;
}