body {
    background-color: rgba(230, 196, 32, 1);
    font-family: 'Monsterrat', sans-serif;
}

.overlay {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    background-color: rgba(230, 115, 25, 1);
    height: 4em;
    margin-bottom: 15px;
    border-radius: 3px;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(153, 130, 17, .9);
    position: fixed;
    left: 0;
    right: 0;
}

.center-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#home-text {
    padding: 180px;
}

#home-text {
    text-align: center;
}

#bio-text {
    display: none;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 70px;
}

.photo-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    gap: 25px;
    padding-bottom: 70px;
    margin-bottom: 10px;
    flex: 1;
}

.bio-photo {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    padding: 1rem 0;
    width: 56%;
    flex-grow: 1;
}

#projects-photo-row {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

#projects-photo {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    padding: 1rem 0;
    flex-grow: 1;
}

#display-themes {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(43, 172, 229, 1);
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(153, 130, 17, .9);
    z-index: 1;
}

.dropdown-content button {
    text-decoration: none;
    display: block;
    width: 100%;
}

button {
    border: none;
    background-color: rgba(230, 115, 25, 1);
    color: black;
    cursor: pointer;
}

/* to change the background color of the button on hover, both hover and focus seem to be necessary */
.nav-button:hover,
.nav-button:focus {
    background-color: rgba(43, 172, 229, 1);
    border-radius: 3px;
}

.dropdown-content button:hover,
.dropdown-content button:focus {
    background-color: rgba(43, 172, 229, 1);
}

#custom-modal {
    display: none;
    border: 1px solid black;
    width: 4em;
    height: 8em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    background-color: rgba(153, 59, 44, 1);
    height: 4em;
    margin-bottom: 8px;
    border-radius: 3px;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(153, 130, 17, .9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#footer-box {
    display: flex;
    width: 100px;
}

a {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    padding: 1rem 0;
    width: 100%;
    flex-grow: 1;
}

.night-hover:hover, .night-hover:focus {
    background-color: black;
    color: white;
}